%table.table.table-hover
  %thead
    %tr
      - data[:labels].each_with_index do |label, i|
        - unless @data[:formats][i] == :hidden
          %th{class: table_class_from_format(@data[:formats][i])}= label.html_safe
    %tbody
      - data[:data].each do |row|
        %tr{:class => row[0] ? (@report_instance.get_key(row).present? ? 'row-action' : '') : 'subtotals',
            :data => {:target => "#{@report_instance.get_key(row)}"}}
          - row.zip(data[:formats]).each do |col, format|
            - unless format == :hidden
              - if format == :object_url
                - object_url = @report_instance.get_object_url(row)
                - if object_url
                  %td{class: 'left'}= link_to col, object_url
                -else
                  %td{class: 'left'}
              - elsif Rails.application.config.try(:use_new_scenarios_tool) && format == :scenario_url
                - scenario_url = @report_instance.get_scenario_url(row)
                - if scenario_url
                  %td{class: 'left'}= link_to col, scenario_url
                - else
                  %td{class: 'left'}
              - else
                %td{class: table_class_from_format(format)}= format_using_format(col, format)
        %tr
          %td.row-detail-panel.hidden{:id => "row-detail-#{@report_instance.get_key(row)}", :colspan => 12}
