:css
  .modal-backdrop {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .ajax-loader-message {
    font-size: 20px;
  }
  .ajax-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    //width: 100%;
    margin-left: -50px;
    margin-top: -50px;
    padding: 20px;
    z-index: 1099;
    background-color: #FFF;
    border: 1px solid #EEE;
    border-radius:5px;
  }

#spinner= loader_panel_tag({:message => "Loading...", :size => 3, :spinner => "cog"})

%table.table.table-hover
  %thead
    %tr
      - @data[:labels].each_with_index do |label, i|
        %th{class: table_class_from_format(@data[:formats][i])}= label
    %tbody
      - @data[:data].each do |row|
        %tr.row-action{:data => {:target => "#{@report_instance.get_key(row)}"}}
          - row.zip(@data[:formats]).each do |col, format|
            %td{class: table_class_from_format(format)}= format_using_format(col, format)
        %tr
          %td.row-detail-panel.hidden{:id => "row-detail-#{@report_instance.get_key(row)}", :colspan => 12}


:javascript

  var report_detail_path = '#{@report_instance.get_detail_path(@report.id, "xxx", format: :js)}';

  $(document).ready(function() {

    // Hide the processing div
    $('#spinner').hide();

    // Click handler that loads the report detail via AJAX into a project ALI project-alis-panel
    // when a row in the summary table is clicked
    $(".row-action").on("click", function() {
      // Toggle the selected class on the table
      $(this).toggleClass("selected");
      // Get the selected project and target panel
      var target_key = $(this).data('target');
      var target_panel_id = "#row-detail-" + target_key;
      // Check to see if the row is selected -- if it is we load the ALIs into
      // the corresponding panel
      if ($(this).hasClass('selected')) {
        var url = report_detail_path.replace('xxx', target_key);
        // AJAX load the panel
        $.ajax({
            url: url,
            data: {
              view: "reports/#{@report_instance.get_detail_view}"
            },
            beforeSend: function() {
              $('<div class="modal-backdrop"></div>').appendTo(document.body).hide().fadeIn();
              $("#spinner").show();
            },
            complete: function (response) {
              $('#spinner').hide();
              $(".modal-backdrop").remove();
            },
            error: function () {
              transam.show_popup_message("Warning", "Something went wrong. Please try again!", "warning");
            }
        });
      }
      // Show or hide the panel
      $(target_panel_id).toggleClass("hidden");
    });
  });
